@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sanchez:ital@0;1&display=swap');

html{
  scroll-behavior: smooth;
}

body{
  background-color: #FEFBE9;
  margin: 0;
  padding: 0;
  color: #4F3422;
}

*{
  box-sizing: border-box;
}

#progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: #4F3422;
  transform-origin: 0%;
  z-index: 1000;
}

#menu_socials{
  display:flex;
  justify-content: space-between;
  align-items:center;
  position:absolute;
  top:0;
  width:100vw;
  padding:2vh 5vw 2vh 2vw;

  ul{
    list-style: none;
    display:flex;
    align-items:center;
    gap: 5vh;

    li a{
      text-decoration:none;
      color:#4f3422;
      font-size: 16px;
      font-family: "League Spartan", sans-serif;
      font-weight: 600;

      img{
        width:19px;
        height:19px;
      }
    }
  }
}

#hamburger{
  position: absolute;
  z-index: 10;
  display:none
}

@media (max-width:900px){
  #hamburger{
    display:block
  }
  #menu_socials{
    display:none
  }
}

#GoTop{
  position: fixed;
  right: 1%;
  bottom: 1%;
  z-index: 10
}

#dropdown-menu {
  border-radius: 10px;
  border: 1px solid #E9C162;
  box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 0.5);
  margin-top: 17px;
  position: absolute;
  background-color: #FFF7C2;
  z-index: 10;
  margin-left: 10px;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    border-radius: 10px;
    z-index: 10;
  }

  a {
    text-decoration: none;
    display: block;
    color: #4F3422;
    font-size: 15px;
    padding: 16px 20px;
    font-weight: 600;
    box-shadow: 0px 0px 3px -2px rgba(0, 0, 0, 0.5);
    transition: all ease-in-out 0.3s;

    &:hover{
      background-color: #FFEE9C;
    }
    &:active,
    &:focus {
      background-color: #FBE577;
    }
  }
}

#AboutMe{
  background-color: #FFC53D;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  gap:5vh;
  padding-top: 10vh;
}

@media (max-width:900px){
  #AboutMe{
    flex-direction: column;
  }
}

#Me{
  transform: translateX(15vw) translateY(-10vh);
  min-width: 35vw;

  h1{
    font-size: 60px;
    font-family: "League Spartan", sans-serif;
    font-weight: 600;
    margin:0
  }

  h3{
    font-family:'Sanchez', serif;
    font-size: 22px;
    margin:0
  }

  h5{
    font-family:'Sanchez', serif;
    font-size:16px
  }

  button{
    background-color: #FFF7C2;
    color: #4F3422;
    cursor: pointer;
    margin: 10px 0px;
    padding: 10px;
    font-family:'Sanchez',serif;
    &:hover{
      background-color: #FFEE9C;
    }

    a{
      color: #4F3422;
      text-decoration: none;
    }
  }
}

#MePic{
  height: 100vh;
  width: auto;
  transform: translateX(15vw);
}

@media (max-width:900px){
  #MePic{
    height: 50vh;
    width: auto;
  }
  #Me{
    transform:translateY(0);
    margin:5vh 5vw
  }
}

#skillstitle{
  font-family: "Merriweather", serif;
  text-align: center;
}

#skills{
  
  .skillsbox{
    overflow-y: hidden;
    max-width: 30vw;

    .align{
      display: flex;
      align-items: center;
    }
  
  }

  h2{
    background: -webkit-linear-gradient(0deg, #FFC53D,#4F3422);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; 
    font-family: "Merriweather", serif;
  }

  .skill{
    justify-content: center;
    align-items: center;
  }

  h4{
    color: #4F3422;
    font-size: 22px;
    font-family:'Courier New', Courier, monospace;
    opacity: 0.6;
    margin-right: 20px;
    display: inline-block;
  }

  .top-icon{
    width: 30px;
    height: auto;
  }

  .icon{
    width: 40px;
    height: auto;
    margin-right: 10px;
    opacity: 0.5;
  }

}
@media (max-width:900px){
  .skill{
    height: auto;
  }
  #skills{
    .skillsbox{
      max-width: 70vw;
      height: 50vh;
    }
  }
}

#projects{
  background-color: #FFC53D;
  width: 100vw;
  overflow: hidden;
  
  h1{
    font-family: "Merriweather", serif;
  }

  p{
    font-family:'Courier New', Courier, monospace;
    font-weight: 600;
  }
}

.MuiOutlinedInput-notchedOutline{
  border-color: #4F3422!important;
}

#contact-form{
  margin:auto;
  padding:30px;
  box-shadow:10px 10px 20px #000; 
  border-radius:10px;
  border:none;
  background-color:#FFF7C2;
  width:60vw;
  min-width: fit-content;


  .contact{
    display:flex;
    flex-direction:column;
    justify-content:center;
     color:#4F3422
  }

  .submit{
    padding:8px 16px;
    margin-top: 16px;
    border-radius:8px;
    background-color:#4F3422;
    color:white;
    &:hover{
      background-color:white;
      color:#4F3422
  }
  }
  #success{
    color:#4F3422
  }
  #error{
    color: red;
  }
}
